.Users {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
}

@media (max-width: 500px) {
    .OperationButtons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}